﻿@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Amaranth|Titillium+Web');


h1,
h2,
h3,
h4 {
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1em;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 2.8em;
    text-shadow: 0 0.1em 0.8em rgba(0,0,0,0.5);
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

body {
    background-color: #f7f8fa;
}

nav {
    background-color: transparent;
    color: #fff;
    vertical-align: middle;
}

#menu {
    background-color: black;
    opacity: 20%;
    color: #fff;
}

li.nav-item {
    color: #fff;
}

section {
    padding: 5% 10%;
}

.bg-faded {
    background-color: transparent;
}

.banner {
    text-align: center;
    color: #fff;
    background-image: url('../img/hotelroom.jpg');
    background-size: cover;
    position: relative;
    /* Creating the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

/* Fader */

.fader > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.fader > figure:nth-child(1) { background-image: url('../img/hotelroom.jpg'); }

.fader > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../img/hotel.jpg');
}

.fader > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../img/maldives.jpg');
}

.fader > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../img/hotelpool.jpg');
}

.fader > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('../img/hotelresto.jpg');
}



@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}


/* end of Fader */

.jumbotron {
    padding: 10rem 6rem;
    margin-bottom: 0;
    border-radius: 0;
}

.block-hero {
    position: relative;
    top: 0;
}

.section-title {
    color: #F0AD4E;
    padding: 3%;
}

.title-rooms-search {
    padding: 5%;
}


/* Form inputs */

.col-md-2 {
    padding: 4px;
}

input[type=date],
select {
    border: 0 solid white;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px 0;
    border-radius: 5px;
    font-size: 21px;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: dimgray;
    text-align: center;
    line-height: 2em;
}



select {}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: dimgrey;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

fieldset {
    display: inline-block;
}

select,
.form-group {
    margin: auto;
    margin-bottom: 15px;
}


/* About */

.about {
    position: relative;
    top: -30px;
}

.about-content {
    padding-top: 3%;
    line-height: 1.5em;
    font-size: 1.2em;
}


/* Services */

.rooms {
    background-image: url('../img/hotel.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.room-card {
    width: 55%;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 5%;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.btn-booknow {
    background-color: #0275D8;
    color: whitesmoke;
    text-decoration: none;
}

.btn-booknow a {
    color: whitesmoke;
}

.services {}

.container-services {
    color: dimgrey;
}

.service {
    padding: 4%;
    font-size: 1.1em;
}

.description {
    padding-top: 2%;
}

.description-title {
    padding-top: 5%;
}


/* Reviews */

.reviews {
    background-image: url('../img/hotel.jpg');
    padding: 10%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews-card {
    width: 55%;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 5%;
    margin: auto;
    border-radius: 10px;
}

.guest {
    border-radius: 50%;
    margin: auto;
}

#guest-pic-name {}

#guest-name {
    margin: auto;
    text-align: left;
}


/* Contact Us */

.container-contact {}


/* Google Map API Style */


/* Footer */

footer {
    height: 6%;
    vertical-align: middle;
    background-color: black;
    color: white;
    text-align: center;
    


}

#footer-text {
    padding-top: 1%;
}


/* rooms.html */

.banner-rooms {}

.results-card {
    background-color: #fff;
    padding: 3%;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px 0;
    border-radius: 5px;
    margin: 5%;
}

.card-room-description {}

.title-room {
    text-align: left;
    padding-top: 5%;
}

.from {
    padding-top: 2%;
}

.price-info {
    font-size: 4em;
}

.btn-info-search {}

.icons-search {}

.img-thumbnail {
    margin: auto;
}

.text-hero {
    text-align: left;
    line-height: 2em;
    text-shadow: 0 0.1em 0.8em rgba(0,0,0,0.3);
    padding-top: 4em;
    padding-right: 3em;
}

.text-hero h1 {
    font-size: 3em;
}

.search-block {
    background-color: rgba(0,0,0,.5);
    padding: 2%;
    border-radius: 2%;
    
}

#search-button {
    
    background-color: #FA814A;
    color: #fff;
    width: 100%;
    margin-top: 1%;
}


@media (min-width: 576px) {
    .mr-sm-4 {
        margin-right: 0!important;
    }
}

@media (min-width: 414px) {
    .mr-sm-4 {
        margin-right: 0!important;
    }
    input[type=date],
    select {
        font-size: 1em;
    }
}

@media print {
    * { 
        font-size: 10pt;
        font-family: sans-serif;
    }
    
    nav {
        display: none;
    }
    
    form {
        display: none;
    }
    
    footer {
        display: none;
    }
}

/* roominfo.html */
.room-description-title {
    margin: auto;
    padding: 5%;
}

.card-price {
    padding-top: 3%;
    
}

.card-price-info {
    
}

.properties,
.amenities {
    padding: 5%
}

#reservations {
    padding: 5%;
}

/* Media Queries */


/* MORE THAN 75 */

.mr-sm-4 {
    margin-right: 0!important;
}

#adults {
    margin-right: 5px;
}

#adults,
#kids,
#city {
    padding: 0;
    height: 3.2em;
}

input[type=date] {
        font-size: .9em;
        margin: 5px 1px;
        margin-top: -.01em;
        border: 1px solid grey;
    }
    select {
        font-size: .7em;
        border: 1px solid grey;
    }


/* LESS THAN 75 */

@media (max-width: 74.9em) {
/*
    body {
      background-color: skyblue;
    }
*/
    
    .banner {
        text-align: center;
        color: #fff;
        background-image: url('../img/hotelroom.jpg');
        background-size: cover;
        position: relative;
        padding: 10% 20%;
        background-attachment: initial;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        max-width: 100%;
    }
    
    .text-hero h1 {
        font-size: 2.5em;
    }
    
    .banner {
        height: 100vh;
    }
    
    
    .block-hero {
        width: 800px;
        top: 120px;
    }
    
    .block-hero-container {
        width: 120%;
        left: -20%;
        
    }
    
    .search-block {
        padding-top: 50px;
    }
    
    .reviews {
        background-attachment: inherit;
    }
    
    .rooms {
        background-attachment: inherit;
    }
    
    .reviews-card,
    .room-card {
        width: 85%;
    }
    
    .mr-sm-4 {
        margin-right: 0!important;
    }
    #adults {
        margin-right: 5px;
    }
    input[type=date] {
        font-size: .75em;
        margin: 5px 1px;
        
        border: 1px solid grey;
    }
    select {
        font-size: .7em;
    }
}


/* LESS THAN 62 */

@media (max-width: 61.9em) {
/*
    body {
       background-color: blue;
    }
*/
    
    h2 {
        font-size: 2.2em;
    }
    
    .banner {
        text-align: center;
        color: #fff;
        background-image: url('../img/hotelroom.jpg');
        background-size: cover;
        position: relative;
        padding: 10% 20%;
        background-attachment: initial;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        max-width: 100%;
    }
    
    .block-hero {
        width: 670px;
        top: 0;
    }
    
    .block-hero-container {
        width: 120%;
        left: -20%;
        
    }
    
    .search-block {
        padding-top: 30px;
    }
    
    .text-hero h1 {
    font-size: 2.2em;
    }
    
    .reviews {
        background-attachment: inherit;
    }
    
    .rooms {
        background-attachment: inherit;
    }
    
    .reviews-card,
    .room-card {
        width: 85%;
    }
    
    .mr-sm-4 {
        margin-right: 0!important;
    }
    #adults {
        margin-right: 5px;
    }
    
    input[type=date] {
        font-size: .6em;
        margin-top: -.2em;
        border: 1px solid black;
    }
    
    select {
        line-height: .5em;
    }
}


/* LESS THAN 48 */

@media (max-width: 47.9em) {
/*
    body {
     background-color: green;
    }
*/
    
    .banner {
        text-align: center;
        color: #fff;
        background-image: url('../img/hotelroom.jpg');
        background-size: cover;
        position: relative;
        padding: 10% 20%;
        background-attachment: initial;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        max-width: 100%;
        
    }
    
    .block-hero {
        width: 100%;
        top: -45px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    
    .block-hero-container {
        width: 140%;
        left: 5%;
        
    }
    
    .text-hero h1 {
        font-size: 1.8em;
        text-align: center;
        padding-bottom: 6%;
        margin-left: 5%;
    }
    
    .feature-block-hero {
        display: none;
    }
    
    .search-block {
        padding: 10%;
    }
    
    .section-title {
        padding-top: 12%;
    }
    
    .feature-block-hero {
        text-align: center;
    }
    
    .reviews {
        background-attachment: inherit;
    }
    
    .rooms {
        background-attachment: inherit;
    }
    
    .reviews-card,
    .room-card {
        width: 85%;
    }
    
    .mr-sm-4 {
        margin-right: 0!important;
    }
    #adults {
        margin-right: 5px;
    }
    input[type=date],
    select {
        font-size: 1em;
        
    }
}


/* LESS THAN 34 */

@media (max-width: 33.9em) {
    
/*
    body {
       background-color: red;
    }
*/
    
    h2 {
        font-size: 2.2em;
        text-align: center;
    }
    
    .banner {
        text-align: center;
        color: #fff;
        background-image: url('../img/hotelroom.jpg');
        background-size: cover;
        position: relative;
        padding: 10% 20%;
        background-attachment: initial;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        max-width: 100%;
        
    }
    
    .block-hero {
        width: 100%;
        top: -45px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    
    .block-hero-container {
        width: 140%;
        left: -20%;
        
    }
    
    .reviews {
        background-attachment: inherit;
    }
    
    .rooms {
        background-attachment: inherit;
    }
    
    .reviews-card,
    .room-card {
        width: 85%;
    }
    
    .text-hero {
        padding-right: 0;
    }
    
    .text-hero h1 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 5%;
        
    }
    
    .feature-block-hero {
        display: none;
    }
    
    .section-title {
        padding-top: 12%;
    }
    
    .search-block {
        padding: 10%;
    }
    
    .mr-sm-4 {
        margin-right: 0!important;
    }
    #adults {
        margin-right: 5px;
    }
    input[type=date] {
        font-size: .9em;
        margin: 5px 1px;
        
    }
    select {
        font-size: .8em;
    }
    #adults,
    #kids,
    #city {
        padding: 0;
        height: 3em;
    }
   
}

#formRoom {
    margin-left:2em;
}